.App {
  text-align: center;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.Footer {
  background-color: black;
  color: #fff;
  font-size: 20px;
  margin-top: auto;
}

.social-links {
  font-size: 30px;
  cursor: pointer;
  margin: 10px;
  color: lightgray;
  transition: color 200ms;
}

.social-links:hover {
  color: #0A66C2;
}